@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove Padding and Margin */
* {
  padding: 0;
  margin: 0;
  font-family: "Heebo";
  /* White Font */
    color: #fff;
}

/* Font */
@font-face {
  font-family: "burtons";
  src: url("../public/fonts/Burtons.otf")
}

